/* Font faces */

/**
 * Defining a font face for 'Google Sans'
 */
 @font-face {
  font-family: 'Google Sans';
  /**
   * Specifying the source of the font file
   */
  src: url('./assets/fonts/Google\ Sans.woff2');
}

/**
 * Defining a font face for 'Google Sans Greek'
 */
@font-face {
  font-family: 'Google Sans Greek';
  /**
   * Specifying the source of the font file
   */
  src: url('./assets/fonts/Google\ Sans\ Greek.woff2');
}

/**
 * Defining a font face for 'Archivo Black'
 */
@font-face {
  font-family: 'Archivo Black';
  /**
   * Specifying the source of the font file
   */
  src: url('./assets/fonts/ArchivoBlack-Regular.ttf');
}

/* Global styles */

/**
 * Setting the height of the html and body elements to 100%
 */
html, body {
  height: 100%;
}

/**
 * Styling the body element
 */
body {
  /**
   * Removing margin from the body element
   */
  margin: 0;
  /**
   * Setting the font family to a list of fonts, with 'Google Sans' and 'Google Sans Greek' as the primary options
   */
  font-family: 'Google Sans', 'Google Sans Greek', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /**
   * Enabling anti-aliasing for webkit browsers
   */
  -webkit-font-smoothing: antialiased;
  /**
   * Enabling anti-aliasing for mozilla browsers
   */
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Defining a utility class for hiding elements
 */
.d-none {
  /**
   * Setting the display property to none, with high importance
   */
  display: none !important;
}